<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>propn</Title>
			<Shortcut>propn</Shortcut>
			<Description>Code snippet for property with change notification</Description>
			<Author>http://geekswithblogs.net/brians/archive/2010/07/27/inotifypropertychanged-with-less-typing-using-a-code-snippet.aspx</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>type</ID>
					<ToolTip>Property type</ToolTip>
					<Default>int</Default>
				</Literal>
				<Literal>
					<ID>property</ID>
					<ToolTip>Property name</ToolTip>
					<Default>MyProperty</Default>
				</Literal>
				<Literal>
					<ID>notifyMethod</ID>
					<ToolTip>name of method to raise PropertyChanged event</ToolTip>
					<Default>NotifyPropertyChanged</Default>
				</Literal>
			</Declarations>
			<Code Language="csharp">
				<![CDATA[private $type$ _$property$;
					public $type$ $property$
					{
						get => this._$property$;
						set 
						{ 
							if ( !$type$.Equals( value, this.$property$ ) )
							{
								this._$property$ = value;
								this.$notifyMethod$();
							}
						}
					}
				$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>


